@import "./base.poppins-font.scss";
@import "./base.colors";

//Override Bulma variables
$primary: $AccentColor;
$text: $Color;
$text-light: $SecondColor;
$family-sans-serif: "Poppins", sans-serif;
$border: $AccentColor;
$border-hover: darken($AccentColor, 25%);
$tablet: 769px;

//NAVBAR
$navbar-background-color: transparent;
$navbar-item-color: $Color;
$navbar-item-active-color: $AccentColor;
$navbar-item-hover-color: $AccentColor;
$navbar-item-hover-background-color: transparent;
$navbar-breakpoint: $tablet;
@import "~bulma/bulma";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $size-1;
}
h2 {
  font-size: $size-2;
}
h3 {
  font-size: $size-3;
}
h4 {
  font-size: $size-4;
}
h5 {
  font-size: $size-5;
}
h6 {
  font-size: $size-6;
}
.fullscreen {
  height: 100vh;
}
